nav.navbar, footer{
    background-color: #1d3551 !important ;
}
.navbar a:hover{
    background-color:white !important;
    color: #1d3551 !important;
}
.carousel-inner img{
      height: 500px;
    object-fit: cover; 
    
}
.btn-o{
    background-color: #1d3551 !important;
    color: white !important;
    display: flex;
    margin: 0 auto;
    padding: 10px 100px;
    font-size: 20px;
}
.card a{
    background-color: #1d3551;
}
.faqs{
    background: linear-gradient(to bottom, #5d26c1, #a17fe0, #59c173);;
}
.accordion-button{
    background-color: #1d3551 !important;
    color: white !important;
}
.accordion-button::after {
    filter: brightness(0) invert(1) !important;
}
/* Contact us code */
.box{
    transition: all 0.5s;
    height: 100%;
}
.box a:hover{
    background-color: greenyellow !important;
}
.box:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important ;
}